.table-fixed {
    table-layout: fixed;
    
  }
  
  .table th, .table td {
    width: 25%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    vertical-align: middle;
  }

  .table td {
    white-space: normal;
  }