table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
  
  td, th {
    word-wrap: break-word;
    font-size: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    vertical-align: middle;
  }

  .table td {
    white-space: normal;
  }